<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cug.mapper.DoctorMapper">
    <insert id="addReleaseLog">
        insert into release_log(doctor_id,release_num,release_time) values(#{doctorId},#{releaseNum},#{releaseTime})
    </insert>
    <insert id="addReservation">
        insert into reservation(id,doctor_id,user_id,create_time) values(#{id},#{doctorId},#{userId},#{createTime})
    </insert>
    <update id="updateDescription">
        update doctor set description = #{description} where id = #{id}
    </update>
    <update id="release">
        update doctor set reservation_resource = reservation_resource + #{releaseNum} where id = #{doctorId}
    </update>
    <select id="getReleaseLog" resultType="com.cug.domain.pojo.ReleaseLog">
        select * from release_log where doctor_id = #{doctorId}
    </select>
    <select id="getResourceNum" resultType="com.cug.domain.pojo.ReservationResourceData">
        select id as doctor_id,reservation_resource from doctor
    </select>
    <select id="getDoctorList" resultType="com.cug.domain.pojo.Doctor">
        select d.id,
               d.department_id,
               a.name as departmentName,
               d.name,
               d.email,
               d.phone,
               d.password,
               d.description
        from doctor d left join department a on d.department_id = a.id
    </select>
    <select id="searchDoctor" resultType="com.cug.domain.vo.DoctorInfoForAI">
        select d.name,
               dep.name,
               d.phone,
               d.description,
               d.reservation_resource as resourceNum
        from doctor d left join department dep on d.department_id = dep.id where d.name like concat('%',#{keyName},'%')
    </select>

</mapper>